  <h1>Book A Flight</h1>
  <div class="container">
    <form [formGroup]="flightForm">
      <div>
        <label>Fullname</label>
        <span style="color: red;" *ngIf="flightForm.get('fullname')?.errors?.['required']">* Required</span>
        <span style="color: red;"  *ngIf="flightForm.get('fullname')?.errors?.['pattern']">* Please enter correct Ex. Pornthida Phobai</span>
        <br>
        <input formControlName="fullname">
      </div>
      <br>
      <div class="col-half input-group">
        <label>From </label><span style="color: red;" *ngIf="flightForm.get('from')?.errors?.['required']">* Required</span><br>
        <select [ngModel] = "flight.from" [formControl]="selectControl" formControlName="from" required>
          <option *ngFor="let Flights of airport" [ngValue]="Flights.value" value="Flight.value">{{Flights.viewValue}}</option>
        </select>
      </div>
      <div class="col-half input-group">
        <label>To </label><span style="color: red;" *ngIf="flightForm.get('to')?.errors?.['required']">* Required</span><br>
        <select [ngModel] = "flight.to" [formControl]="selectControl" formControlName="to" required>
          <ng-container *ngFor="let Flights of airport">
            <option *ngIf="flightForm.value.from !== Flights.value" [ngValue]="Flights.value" >{{Flights.viewValue}}</option>
          </ng-container>
        </select>
      </div>
      <br>
      <div>
        <label>Trip Type</label><span style="color: red;" *ngIf="flightForm.get('type')?.errors?.['required']">* Required</span><br>
        <div class="radio-group">
          <input  type="radio"  value="One way"formControlName="type" checked><label>One way</label>
          <input type="radio" value="Return"formControlName="type"><label>Return</label>
        </div>
      </div>
      <br>
      <div>

        <div class="row row-cols-sm-auto">
          <div class="col-12">
            <label>Departure</label>
            <div class="dp-hidden position-absolute">
              <div class="input-group">
                <input name="datepicker"
                      class="form-control"
                      ngbDatepicker
                      #datepicker="ngbDatepicker"
                      [autoClose]="'outside'"
                      (dateSelect)="onDateSelection($event)"
                      [displayMonths]="2"
                      [dayTemplate]="t"
                      outsideDays="hidden"
                      [startDate]="flightForm.value.departure!"
                      tabindex="-1">
                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>

            <div class="input-group">
              <input #dpFromDate
                    class="form-control" placeholder="yyyy-mm-dd"
                    name="dpFromDate"
                    [value]="formatter.format(flightForm.value.departure)"
                    [value]="formatter.format(flight.departure)"
                    (input)="flightForm.value.departure = validateInput(flightForm.value.departure, dpFromDate.value)">
              <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="datepicker.toggle()" type="button"></button>
            </div>
          </div>
          <div class="col-12">
            <label>Arrival</label>
            <div class="input-group">
              <input #dpToDate
                    class="form-control" placeholder="yyyy-mm-dd"
                    name="dpToDate"
                    [value]="formatter.format(flightForm.value.arrival)"
                    [value]="formatter.format(flight.arrival)"
                    (input)="flightForm.value.arrival = validateInput(flightForm.value.arrival, dpToDate.value)">
              <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="datepicker.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-third">
        <label>Adults</label>
        <input type="number" min="0" step="1" [(ngModel)]="flight.adults" formControlName="adults">
        <span style="color: red;"  *ngIf="flightForm.get('adults')?.errors?.['required']">* Required</span>
        <span style="color: red;"  *ngIf="flightForm.get('adults')?.errors?.['pattern']">* Should be a seat for at least 1 adult.</span>
      </div>
      <div class="col-third">
        <label>Children</label>
        <input type="number" min="0" step="1" [(ngModel)]="flight.children" formControlName="children">
        <span style="color: red;"  *ngIf="flightForm.get('children')?.errors?.['pattern']">* Please enter correct [0-9]</span>

      </div>
      <div class="col-third">
        <label>Infants</label>
        <input type="number" min="0" step="1" [(ngModel)]="flight.infants" formControlName="infants">
        <span style="color: red;"  *ngIf="flightForm.get('infants')?.errors?.['pattern']">* Please enter correct [0-9]</span>

      </div>
      <br><br><br><br><br>
      <button [disabled]="flightForm.invalid" (click)="onSubmit(flightForm.value)" class="button-confrim">Confrim</button>
    </form>
  </div>
  <br>

    <!-- {{ flightForm.value | json}}<br/><br/><br/> -->

    <table>
      <tr>
        <th>fullName</th>
        <th>From</th>
        <th>To</th>
        <th>Type</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Adults</th>
        <th>Children</th>
        <th>Infants</th>
      </tr>
      <tr *ngFor="let f of sflights">
        <td>{{ f.fullName }}</td>
        <td>{{ f.from }}</td>
        <td>{{ f.to }}</td>
        <td>{{ f.type }}</td>
        <td>{{ formatter.format(f.departure) }}</td>
        <td>{{ formatter.format(f.arrival) }}</td>
        <td>{{ f.adults }}</td>
        <td>{{ f.children }}</td>
        <td>{{ f.infants }}</td>
      </tr>
    </table>
